.header {
    box-shadow: 0 0 0;
    height: auto;
    .logo-contain{
        width: 300px;
        img{
            max-height: 74px !important;
        }
    }
    .header-menu{
        span.header-item{
            position: relative;
            &:after{
                content: "\00B7";
                font-size: 2.5em;
                top: -1px;
                position: relative;
                padding-left: 0.4em;
                @include bp(L-phone){
                    display: none;
                }
            }
            &:last-child:after{
                display: none !important;
            }
            a{
                @extend p.f;
            }
        }
    }
}