<div class="columns p0">
	<div class="column p0 is-7">
		<div class="img" data-stellar-background-ratio="0.1"></div>
		<!-- <img src="http://i.huffpost.com/gen/1823961/images/o-JOGGING-facebook.jpg" alt="" class="img-responsive lft_img"> -->
	</div>
	<div class="column p0 is-5 blue-bg">
		<p class="slant pt0">Because we believe everyone deserves to look and feel their best, Bachar Nutrition utilizes cutting-edge nutritional science to create forward-looking products aimed at restoring your youthful self. Our mission is to develop anti-aging formulas that promote a positive impact on human health.</p>
		<p class="slant">Leading that effort is our proprietary Nucleotide strategy that delivers an advanced method to enhance your body’s own immune system, allowing you to naturally combat common health issues more effectively. From the standpoint of longevity studies, no single method has increased longevity more than supplementing with these building blocks of DNA and RDA.</p>
		<p class="slant"><strong>RESTORE THAT YOUTHFUL YOU WITH BACHAR NUTRITION.</strong></p>
	</div>
</div>


<script type="text/javascript">
	var right_col_height = $('.column.blue-bg').outerHeight();
	$('img.lft_img').height(right_col_height+'px');
</script>