<div class="container">
	<div class="columns">
		<div class="column is-responsive is-4 imgy">
			<img src="assets/img/rebalance.png" alt="" class="img-responsive">
		</div>
		<div class="column is-responsive">
			<h2>REBALANCE</h2>
			<div class="columns">
				<div class="column is-8 br">
					<p>Health and wellness begins in the gut. This core area known as the Microbiome is where trillions of microorganisms reside. An imbalance, or Dysbiosis in this area threatens long-term health and is a common denominator in almost every know human malady.† An effective way to combat this condition is the use of a natural extract called Nucleotides which are the building blocks of DNA and RNA. Coupled with the appropriate Probiotics, a rebalance occures resulting in optimal health.†</p>
				</div>
				<div class="column">
					<img src="assets/img/leafcon.png" alt="" class="leaf img-responsive">
					<ul class="dot">
						<li>NO ARTIFICIAL FLAVORS</li>
						<li>NO ARTIFICIAL COLORS</li>
						<li>NO ARTIFICIAL SWEETENERS</li>
						<li>GLUTEN FREE</li>
						<li>SOY FREE</li>
						<li>DAIRY-FREE</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	<div class="column is-offset-4">
	<p class="text-center fine-text">†These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease</p></div>
</div>