<div class="container">
	<div class="columns">
		<div class="column is-7">
			<h2>RECHARGE</h2>
			<p>It all begins with rich, premium tasting, 100% Arabica Coffee, that leads to an experience that is beyond energy!</p>
			<p>Start your day with more focus and clarity, resulting in more productivity and an all-around feel good attitude.</p>
			<p>Nootropics is a new nutritional strategy offering a mental advantage to help address mood, appetite and energy. *For active lifestyles a Trace Mineral complex along with Himalayan Pink Salts has been added to help promote electrolyte activation for proper hydration and vital organ health.*</p>
			<p>A delicious and convenient way to ReCharge your body and mind.</p>
			<p>For the non-coffee drinker or for those that just prefer the convenience of an encapsulated deliver system, this superior nootropic formula is also available by the bottle containing 60 veggie capsules. A great way to regain focus and clarity with a burst of energy throughout the day.</p>
			<p class="text-center fine-text">*These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.</p>
		</div>
		<div class="column">
			<img src="assets/img/recharge.png" alt="" class="img-responsive">
		</div>
	</div>
</div>