<div class="container">


	<h2>RESTORE THAT YOUTHFUL YOU WITH <br>BACHAR NUTRITION.</h2>

	<div class="columns">
		<!-- column_1 -->
		<div class="column">
			<div class="column-contain item-apple apple-top" data-apple id="column_1">
				<div class="apple-inner">
					<img src="assets/img/recharge2.png" alt="" class="recharge img-responsive">
					<p class=" f" style="text-transform: capitalize;">ReCharge</p>
				</div>
			</div>
		</div>
		<!-- column_2 -->
		<div class="column">
			<div class="column-contain item-apple apple-top" data-apple id="column_2">
				<div class="apple-inner">
					<img src="assets/img/rebalance2.png" alt="" class="recharge img-responsive">
					<p class=" f" style="text-transform: capitalize;">ReBalance</p>
				</div>
			</div>
		</div>
	</div>


</div>