<div class="container">
	<div class="columns">
		<div class="column is-3 logo">
			<a href="javascript:void(0)"><img src="assets/img/logo.svg" alt="" class="img-responsive"></a>
		</div>
		<div class="column info">
			<div class="columns">
				<div class="column is-offset-1"></div>
				<div class="column is-5">
					<p class="f text-left">Our companies</p>
					<ul class="companies">
						<li><a target="_blank" href="http://www.paycation.com">PAYCATION</a></li>
						<li><a href="javascript:void(0)">XSTREAM TRAVEL</a></li>
						<li><a target="_blank" href="http://BACHARNUTRITION.COM">BACHAR NUTRITION</a></li>
						<li><a target="_blank" href="http://simplysuccesselite.net/gli.asp">GLOBAL LEGACY INITIATIVE</a></li>

					    <p class="f text-left" style="padding-bottom: 0.4em; padding-top: 0.8em;">Our Partners</p>
						<li><a target="_blank" href="http://SimplySuccessElite.net">SUCCESS TRAINING INSTITUTE</a></li>
					</ul>
				</div>
				<div class="column">
					<p class="f text-left">our Contact info</p>
					<ul class="companies">
						<li>214-396-6833</li>
						<br>
						<li><a target="_blank" href="mailto:info@traverusglobal.com">info@traverusglobal.com</a></li>
						<br>
						<li>101-C N Greenville Ave<br>Suite #245<br>Allen, TX 75002</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>




