<div class="container">
	<div class="columns">
		<div class="column is-3 logo">
			<a href="javascript:void(0)"><img src="assets/img/logo.svg" alt="" class="img-responsive"></a>
		</div>
		<div class="column info">
			<div class="columns">
				<div class="column is-offset-1"></div>
				<div class="column">
					<p class="f text-left">our companies</p>
					<ul class="companies">
						<li><a href="http://www.paycation.com/commonRedir.asp?site=ShoppingCart_URL">PAYCATION</a></li>
						<li><a href="http://GLOBALLEGACYINITIATIVE.COM">XSTREAM HOLIDAYS</a></li>
						<li><a href="http://BACHARNUTRITION.COM">BACHAR NUTRITION</a></li>
						<li><a href="http://SimplySuccessElite.net">SUCCESS TRAINING INSTITUTE</a></li>
						<li><a href="http://GLOBALLEGACYINITIATIVE.COM">GLOBAL LEGACY INITIATIVE</a></li>
					</ul>
				</div>
				<div class="column">
					<p class="f text-left">our Contact info</p>
					<ul class="companies">
						<li><a href="http://GLOBALLEGACYINITIATIVE.COM">PAYCATION</a></li>
						<li><a href="http://GLOBALLEGACYINITIATIVE.COM">XSTREAM HOLIDAYS</a></li>
						<li><a href="http://GLOBALLEGACYINITIATIVE.COM">BACHAR NUTRITION</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>




