<div class="container">
	<div class="content-contain">
		<!-- logo -->
		<a class="logo_contain tm">
			<img src="assets/img/logo.svg" alt="" class="img-responsive">
		</a>
		<h3>Navigate. Accelerate. Celebrate</h3>
		<div class="header-nav">
			<ul class="list-inline">
				<li><a data_smooth href="#home_2">PERSONAL EMPOWERMENT</a></li>
				<li><a data_smooth href="#home_4">HEALTH & WELLNESS</a></li>
				<li><a data_smooth href="#home_6">TRAVEL & LEISURE</a></li>
				<li><a data_smooth href="#home_7">SOCIAL ENTREPRENEURSHIP</a></li>
			</ul>
		</div>
	</div>
</div>
