<div class="page-bg pr">
	<div class="container1 page-content">
		<div class="columns">
			<div class="b-img1 column">
				<p>Navigate to Incredible<br>Destinations</p>
				<img src="assets/img/tri-travel.png" alt="">
			</div>
			<div class="this_content is-5 column">
				<div class="inner">
					<h2>Travel<br>& Leisure</h2>
					<p class="p1"><strong>Successfully Navigate</strong> the globe and uplift your spirit as you discover new horizons, experience new cultures and adventure beyond your dreams with Paycation and Xstream Travel. Unleash your passion and explore the world!</p>
					<a href="http://www.paycation.com" target="_blank" class="btn">PAYCATION</a>
				</div>
			</div>
	</div>
	<!-- <div class="p1em"></div> -->
</div>

