<div class="container page-content">
	<h2>Who We Are</h2>
	<ul class="inline">
		<li>
			<h4>Mind</h4>
			<p class="f">Personal empowerment</p>
		</li>
		<li class="plus">+</li>
		<li>
			<h4>Body</h4>
			<p class="f">HEALTH & WELLNESS</p>
		</li>
		<li class="plus">+</li>
		<li>
			<h4>spirit</h4>
			<p class="f">TRAVEL & LEISURE</p>
		</li>
		<li class="plus">+</li>
		<li>
			<h4>legacy</h4>
			<p class="f">SOCIAL ENTREPRENEURSHIP</p>
		</li>
	</ul>

	<p class="p1"><strong>[Tra-ver-us] navigating to a life of success and significance.</strong> TraVerus is your compass on the journey to empowerment of Mind, ReBalance of Body and rejuvenation of Spirit, all while creating a Legacy of significance.</p>
</div>