<div class="page-bg">
	<div class="container page-content">
		<div class="this_content">
			<h2>Legacy</h2>
			<p class="p1"><strong>Successfully Navigate</strong> your impact on the world by creating and empowering a global movement of social entrepreneurs committed to helping those less fortunate achieve a better life. Be part of the only company in the world that educates those less fortunate on a one-for-one basis.</p>
			<a href="http://GLOBALLEGACYINITIATIVE.COM" target="_blank" class="btn r">GLOBAL LEGACY INITIATIVE</a>
		</div>
	</div>
	<div class="p1em"></div>
</div>

