<div class="p1em"></div>
<h2>Meet the team</h2>

<!-- googlesheets (ng-controller="teamCtrl")-->
<!-- <div class="columns teams-list" ng-controller="teamCtrl">
	<div class="column" data-flag="{{item.flag}}" data-visible="{{item.visible}}" ng-class='{active:$first}' ng-repeat="item in items" data-tab="1" data-title="{{item.title}}" data-name="{{item.name}}">
		<img src="assets/img/team/{{item.img}}" title="{{item.img}}">
		<p class="hide bio">{{item.bio}}</p>
	</div>
</div> -->

<!-- contentful -->
<div class="columns teams-list" contentful-entries="'content_type=staff'" ng-controller="teamContentful">
	<div ng-repeat="item in $contentfulEntries.items | orderBy:'fields.sort'" class="column" data-flag="{{item.fields.flag}}" data-visible="{{item.fields.visible}}" ng-class='{active:$first}' data-tab="1" data-title="{{item.fields.title}}" data-name="{{item.fields.name}}">
		<!-- <h1>{{item[0].title}}</h1> -->
		<img src="{{ item.fields.image.fields.file.url }}" title="{{item.img}}">
		<p class="hide bio">{{item.fields.bio}}</p>
	</div>
</div>


	

<div class="p1em"></div>
<div class="tab-contents container">
	<div id="name"><h2></h2></div>
	<div id="title"><p class="f"></p></div>
	<div id="bio"><p class="text-center"></p></div>
</div>
<div class="p1em"></div>
<div class="p1em"></div>



























